<div class="mb-3">
    <button class="btn btn-success" [routerLink]="['/medecins/add']">➕ Ajouter</button>
  </div>
  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Spécialité</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of medecins">
        <td>{{ m.nom }}</td>
        <td>{{ m.specialite }}</td>
        <td>
          <button class="btn btn-sm btn-primary" [routerLink]="['/medecins/edit', m.id]">✏️</button>
          <button class="btn btn-sm btn-danger" (click)="delete(m.id!)">🗑️</button>
        </td>
      </tr>
    </tbody>
  </table>
  